*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing:border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255,212,230);
}

.container{
  position: relative;
  width: 500px;
  height: 100px;
  background: #fff;
  padding: 25px 30px ;
  overflow: hidden;
  border-radius:20px ;
  font-family: 'Roboto',sans-serif;
}

.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input{
  color: rgb(63, 50, 33);
  width: 80%;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 30px;
}

.search-box input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.search-box button{
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: rgb(245, 242, 242);
  background: rgb(0, 94, 125);
  border-radius: 50%;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box button:hover{
  color: #000000;
  background: rgb(144, 223, 249);
}

.search-box i{
  position: absolute;
  color:red;
  font-size: 30px;
}

.weather-box{
  text-align: center;
}

.weather-box img{
  width: 60%;
  margin-top: 30px;
}

.weather-box .temp{
  position: relative;
  color: darkcyan;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: -16px;
}

.weather-box .temp span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .desc{
  color: darkcyan;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.weather-details .humidity ,.weather-details .wind{
  display: flex;
  text-align: center;
  width: 50%;
  height: 100px;
}

.weather-details .humidity{
  padding-left: 20px;
  justify-content: flex-start
}

.weather-details .wind{
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i{
  color: darkcyan ;
  font-size: 25px;
  margin-right: 15px;
  margin-top:5px ;
}

.weather-details .humidity span{
  font-size: 22px;
  color: darkcyan;
  font-weight: 500;
}

.weather-details p{
  color: rgb(7, 69, 69);
  font-size: 16px;
  font-weight: 500;
}

.not-found{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img{
  width: 70%;
}

.not-found p{
  font-size: 20px;
  color: darkcyan;
  font-weight: 500;
  margin-top: 12px;
}

.weather-box,.weather-details{
  scale: 0;
  opacity: 0;
}

.In{
  animation: 0.5s In forwards;
  animation-delay: 0.5s; 
}

@keyframes In{
  to{
    opacity: 1;
    scale: 1;
  }
}